---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Container from '../components/Container.astro';

import { getCollection } from "astro:content";

const blogs = await getCollection("blogs")

console.log(blogs)
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- <Container>

		</Container> -->
	</main>
</Layout>

<style>

</style>