---
const { blog } = Astro.props;
---

<li class="link-card">
	<img src={blog.data.image} alt="">
	<h3>{blog.data.title}</h3>
	<p>{blog.data.author}</p>
</li>

<style>
	.link-card{
		max-width: 300px;
		min-height: 340px;
		padding: 1rem;
		list-style: none;
	}
	.link-card img{
		width: 100%;
	}
</style>