---
import Container from "./Container.astro";

---


<footer>
  <div class="footer__nav">
    <Container>
      <ul>
        <li><a href="#">Сайт ҳақида</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">Алоқа</a></li>
        <li><a href="#">Реклама</a></li>
        <li><a href="#">Кун мавзулари</a></li>
      </ul>
    </Container>
  </div>

  <div class="f-bottom__nav">
      <Container>
      <p>
        «KUN.UZ» сайтида эълон қилинган материаллардан нусха кўчириш, тарқатиш ва бошқа шаклларда фойдаланиш фақат таҳририят ёзма
  розилиги билан амалга оширилиши мумкин.
  Гувоҳнома: №0987. Берилган санаси: 22.06.2015 йил. Муассис: «WEB EXPERT» МЧЖ. Таҳририят манзили: 100043, Тошкент шаҳри, К. Ёрматов
  кўчаси, 12-уй. Электрон манзил: info@kun.uz.
  Сайтда эълон қилинаётган муаллифлик мақолаларида келтирилган фикрлар муаллифга тегишли ва улар Kun.uz таҳририяти нуқтаи назарини
  ифода этмаслиги мумкин.
  Ⓣ - мақола ва материалларда қўйилган мазкур белги уларнинг тижорат ва реклама ҳуқуқлари асосида эълон қилинганлигини билдиради.
      </p>
  
    </Container>
    </div>
</footer>


<style>
  footer{
    margin-top: 40px;
  }
  .footer__nav{
    background-color: #1C2680;

  }
  .f-bottom__nav{
    background-color: #17206A;
    color: #fff;
    padding: 30px 0;
  }
  .f-bottom__nav p{
    max-width: 800px;
  }
  .footer__nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px;
    font-size: 1rem;
    font-weight: 500;
  }
  .footer__nav a{
    text-decoration: none;
    color: #fff;

  }
</style>